:root {
  --footer-height: 2.5rem;
}

body {
  overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: var(--footer-height); /* Footer height */
}

