.card {
    border: 2px solid black;
    width: 30%;
    padding: 60px 30px 60px 30px;
     margin: 150px 450px;  
}

.card-header {
    margin-left: 15px;
}

.card-body {
    padding: 10px;
}


.form-input {
 height: 1.6rem;
}

.btn {
    height: 2rem;
    width: 5rem;
}