.welcome-div{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
    height:80vh;
}

.welcome-div button{
    padding: 1rem;
    border:none;
    border-radius: 12px;
}

.welcome-div button a{
    color: #1e272e;
}