.box {
  border: 1px white solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: 77vh;
}

/* -------------container form------------- */

/* form */
.textMessageForm {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
/* button */

/* textfield */
.messageInput {
  flex: 1;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  
}

.messageInput:focus {
  border: none;
}

/* -------------container chat------------- */

.containers {
  display: flex;
  flex-direction: column;
  overflow: auto;
  
}

.chat-container {
  
  display: flex;
  flex-direction: column;

  overflow: auto;

}

.message {
  border: 1px orange solid;
  margin: 1rem;
  padding: 1rem;
}
