.chatContainer {
  border: 1px white solid;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: auto;
}

.chatContainer h2 {
  text-align: center;
}

.recentChats {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chatItemContainer {
  margin: 0.5rem 0;
}
.headerContainer {
  background-color: white;

  display: flex;
  
  align-items: center;
  color: black;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.created-at {
  font-weight: bold;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: end;
 
}
.chatBox {
  border: 1px white solid;
  border-radius: 12px;
  margin: 1rem 0;
}

.users{
  margin-left:1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.chatItem {
  padding: 0 1rem;
  display: flex;

  
}
.chatItem div{

  margin-right: 1rem;
}

.chatLink {
  color: white;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.searchUsers {
  color: white !important;
}

.chatLink:hover {
  text-decoration: none;
}
